@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

:root {
    --white-bg: #fff;
    --black-bg: #000;
    --perla-soft-green: #e7f8cc;
    --light-yellow: #FBE7C6;
    --salmon-color: #FC8578;
    --light-pink: #f5dff8;
    --white-bone: #fffbf4;
    --perla-yellow: #fefae9;
}

.text-salmon {
    color: var(--salmon-color);
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}
.brand-logo{
    display: flex;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
}
nav a {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.banner {
    position: relative;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.1s linear;
    background-image: url("../../public/images/cupcakes-bg.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.catalog {
    background-color: var(--perla-yellow);
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 140px;
}

.catalog>.title {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.catalog .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
/*Products cards sliders*/
.slide {
    padding-bottom: 70px;
}
.img-box .img-container {
    width: 295px;
    height: 325px;
    overflow: hidden;
    margin-right: 8px;
}
.img-box .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-container:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}
.testimonials #testimonialas-container>.title {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
/* Carousel */
@media(width<=768px) {
    .banner .text h1 {
        font-size: 1.8rem;
    }
    .catalog .gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .img-box .img-container {
        width: 255px;
        height: 292px;
        overflow: hidden;
        margin-right: 8px;
    }
    .img-box {
        flex: 0 0 auto;
        width: 250px;
    }
    .testimonials {
        height: auto;
    }
    #services {
        height: auto;
    }
}